* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.wallpaperscraft.com/image/mountains_lake_tops_top_view_119133_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.font-weight {
  font-weight: 700;
}

p {
  font-family: Futura, Arial, Sans-serif;
  margin-bottom: 0.5rem !important;
}

img {
  width: 100%;
  height: auto;
}

.head {
  grid-area: head;
}

.phone-nav-bar {
  grid-area: phone-nav-bar;
}

.main-head {
  grid-area: main-head;
}

.article-left {
  grid-area: article-left;
}

.article-right {
  grid-area: article-right;
}

.main-slider {
  grid-area: main-slider;
}

.main-article {
  grid-area: main-article;
}

.main-pictures {
  grid-area: main-pictures;
}

.main-bottom-article {
  grid-area: main-bottom-article;
}

footer {
  grid-area: footer;
}

.arrow {
  position: fixed;
  margin-top: 40%;
  margin-left: 80%;
  opacity: 0.1;
}

.arrow-btn {
  width: 2.5rem;
  border-radius: 50%;
  background-color: #2fb45a;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

.nav-bar {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
}
.nav-bar .nav-bar-singUp,
.nav-bar .nav-bar-logIn,
.nav-bar .nav-bar-link {
  display: inherit !important;
  justify-content: flex-end;
  width: 9rem;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 1rem;
  color: #2fb45a;
  border-right: 5px solid #262626;
  margin-bottom: 1rem;
  margin-right: 5px;
  text-decoration: none;
}
.nav-bar .nav-bar-singUp:hover,
.nav-bar .nav-bar-logIn:hover,
.nav-bar .nav-bar-link:hover {
  color: green;
}

.nav-bar-open {
  display: flex;
}

.phone-nav-bar {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  top: 0px;
  right: 0px;
  transition: 0.5s;
  transform-origin: right top;
  transform: scaleY(0);
}
.phone-nav-bar .phone-nav-bar-singUp,
.phone-nav-bar .phone-nav-bar-logIn,
.phone-nav-bar .phone-nav-bar-link {
  display: inherit;
  justify-content: flex-end;
  color: #262626;
  border-right: 5px solid #262626;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 0.5rem;
  width: 10rem;
}
.phone-nav-bar .phone-nav-bar-singUp:hover,
.phone-nav-bar .phone-nav-bar-logIn:hover,
.phone-nav-bar .phone-nav-bar-link:hover {
  color: #2fb45a;
}

.phone-nav-bar-open {
  transform: scaleY(1);
}

.main-container {
  transform-origin: left top;
  transition: transform 1.25s ease 0s;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "head head head" "main-head main-head main-head" "article-left main-slider article-right" "article-left main-article article-right" "article-left main-pictures article-right" "article-left main-bottom-article  article-right" "footer footer footer";
}
.main-container .head {
  background: #262626;
  top: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.main-container .head .header-icon {
  display: flex;
  align-items: center;
}
.main-container .head .header-icon .header-icon__image {
  width: 2.5rem;
  height: 2.5rem;
}
.main-container .head .nav-btn {
  display: flex;
  cursor: pointer;
}
.main-container .head .nav-btn .nav-btn__image {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #2fb45a;
}
.main-container .main-head {
  text-align: center;
  padding: 3rem;
  background-color: #fff;
}
.main-container .main-head .main-head__title {
  font-size: 7rem;
  font-family: Monospace, Sans-Serif;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.main-container .main-head .main-head__second-title {
  font-size: 2.5rem;
}
.main-container .article-left,
.main-container .article-right {
  color: #fff;
  padding: 1rem;
}
.main-container .article-left .title-snowboarding-and-skiing,
.main-container .article-right .title-snowboarding-and-skiing {
  font-family: Arial, Sans-Serif;
  font-size: 1.7rem;
  text-align: center;
  margin: 0 0 1rem 0;
}
.main-container .article-left {
  background: steelblue;
}
.main-container .article-right {
  background: teal;
}
.main-container .main-article {
  background: aliceblue;
  padding: 0 3rem 2rem 3rem;
}
.main-container .main-article .main-article_title {
  font-family: Futura, Arial, Sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
.main-container .main-article .main-article__columns {
  columns: 2;
  grid-gap: 2rem;
}
.main-container .main-pictures {
  display: flex;
  background: #3E454C;
  padding: 2rem;
}
.main-container .main-pictures .main-picture__item {
  display: inherit;
  flex-direction: column;
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.main-container .main-pictures .main-picture__item .middle-article {
  flex: 1;
  background: #fff;
  text-align: center;
  padding: 1.5rem;
}
.main-container .main-bottom-article {
  background: #f0f8ff;
  padding: 0 3rem;
}
.main-container .main-bottom-article .main-bottom-article-title {
  margin-top: 1rem;
}
.main-container footer {
  padding: 3rem;
  background: #262626;
  color: #fff;
  font-size: 1.5rem;
}
.main-container footer .footer-link-name {
  text-decoration: underline;
  color: #fff;
}

.btnOpen {
  transform: rotate(15deg);
}

.main-container-open {
  transform: rotate(10deg);
}

/*Responsive for tablet*/
@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "head head" "phone-nav-bar phone-nav-bar" "main-head main-head" "article-left main-slider" "article-left main-article" "article-right main-pictures" "article-right main-bottom-article" "footer footer";
  }

  html {
    font-size: 14px;
  }

  .arrow {
    margin-top: 90%;
    margin-left: 90%;
  }

  .nav-bar .nav-bar-singUp,
.nav-bar .nav-bar-logIn,
.nav-bar .nav-bar-link {
    display: none !important;
  }

  .phone-nav-bar {
    display: flex;
  }

  .main-container-open {
    transform: rotateY(0);
  }

  .main-head {
    transition: 0.5s;
    margin-top: -10.5rem;
  }

  .main-head-open {
    margin-top: 0rem !important;
  }

  .main-pictures {
    flex-direction: column;
  }
}
/*Responsive for mobile*/
@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas: "head" "phone-nav-bar" "main-head" "main-slider" "article-left" "article-right" "main-article" "main-pictures" "main-bottom-article" "footer";
  }

  html {
    font-size: 10px;
  }

  p {
    font-size: 1.5rem;
  }

  .arrow {
    margin-top: 147%;
    margin-left: 85%;
  }

  .nav-bar .nav-bar-singUp,
.nav-bar .nav-bar-logIn,
.nav-bar .nav-bar-link {
    display: none !important;
  }

  .phone-nav-bar {
    display: flex;
  }

  .main-container-open {
    transform: rotateY(0);
  }

  .main-head {
    transition: 0.5s;
    margin-top: -10.5rem;
  }

  .main-head-open {
    margin-top: 0rem !important;
  }

  .main-container .main-head .main-head__title {
    font-size: 4.5rem;
  }

  .main-container .main-head .main-head__second-title {
    font-size: 2rem;
  }

  .main-container .article-left .title-snowboarding-and-skiing,
.main-container .article-right .title-snowboarding-and-skiing,
.main-container .main-article .main-article_title,
.main-container .main-bottom-article .main-bottom-article__title {
    font-size: 2rem;
  }

  .main-pictures {
    flex-direction: column;
  }

  .main-down-article {
    background: #f0f8ff;
    padding: 0 3rem 5rem;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
