$font-stack-link: Lato, 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
$font-stack-paragraph: Futura, Arial, Sans-serif;
$primary-background-color-article-right: teal;
$primary-background-color-article-left: steelblue;
$primary-background-color-main-article: aliceblue;
$primary-color-nav-element: #2fb45a;
$primary-background-nav-element: #262626;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.wallpaperscraft.com/image/mountains_lake_tops_top_view_119133_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.font-weight {
  font-weight: 700;
}

p {
  padding: 0 0 1rem 0;
  font-family: $font-stack-paragraph;
}

img {
  width: 100%;
  height: auto;
}

.head {
  grid-area: head;
}

.main-head {
  grid-area: main-head;
}

.article-left {
  grid-area: article-left;
}

.article-right {
  grid-area: article-right;
}

.main-slider {
  grid-area: main-slider;
}

.main-article {
  grid-area: main-article;
}

.main-pictures {
  grid-area: main-pictures;
}

.main-bottom-article {
  grid-area: main-bottom-article;
}

footer {
  grid-area: footer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  
  .nav-singUp,
  .nav-logIn,
  .nav-link {
    display: flex;
    justify-content: flex-end;
    width: 9rem;
    font-size: 1.7rem;
    font-weight: 900;
    padding: 1rem;
    color: $primary-color-nav-element;    
    border-right: 5px solid $primary-background-nav-element;
    margin-bottom: 1rem;
  }

  .nav-singUp:hover {
    color: green;
  }
}

.open {
  transform: rotate(12deg);
}

.main-container {
  transform-origin: left top;
  transition: transform 1.25s ease 0s;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "head head head"
    "main-head main-head main-head"
    "article-left main-slider article-right"
    "article-left main-article article-right"
    "article-left main-pictures article-right"
    "article-left main-bottom-article  article-right"
    "footer footer footer";

  .head {
    background: $primary-background-nav-element;
    top: 0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    .header-icon {
      display: flex;
      align-items: center;

      .header-icon__image {
        width: 2.5rem;
      }
    }

    .nav-btn {
      display: flex;
      cursor: pointer;

    .nav-btn__image {
      width: 2.5rem;
      background-color: #2fb45a;
    }
  }
}

  .main-head {
    text-align: center;
    padding: 3rem;
    background-color: #fff;

    .main-head__title {
      font-size: 7rem;
      font-family: Monospace, Sans-Serif;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }

    .main-head__second-title {
      font-size: 2.5rem;
    }
  }

  .article-left,
  .article-right {
    color: #fff;
    padding: 1rem;

    .title-snowboarding-and-skiing {
      font-family: Arial, Sans-Serif;
      font-size: 1.7rem;
      text-align: center;
      margin: 0 0 2rem 0;
    }
  }

  .article-left {
    background: $primary-background-color-article-left;
  }

  .article-right {
    background: $primary-background-color-article-right;
  }

  .main-article {
    background: $primary-background-color-main-article;
    padding: 0 3rem 2rem 3rem;

    .main-article_title {
      font-family: $font-stack-paragraph;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1rem;
    }

    .main-article__columns {
      columns: 2;
      grid-gap: 2rem;
    }
  }

  .main-pictures {
    display: flex;
    background: #3E454C;
    padding: 2rem;

    .main-picture__item {
      display: inherit;
      flex-direction: column;
      flex: 1;
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      .middle-article {
        flex: 1;
        background: #fff;
        text-align: center;
        padding: 1.5rem;
      }
    }
  }

  .main-bottom-article {
    background: #f0f8ff;
    padding: 0 3rem;

    .main-bottom-article-title {
      margin-top: 1rem;
    }
  }

  footer {
    padding: 3rem;
    background: $primary-background-nav-element;
    color: #fff;
    font-size: 1.5rem;
  
    .footer-link-name {
      text-decoration: underline;
      color: #fff;
    }
  }
}

.main-container-open {
  transform: rotate(10deg);
}

/*Responsive for tablet*/
@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "head head"
                         "main-head main-head"
                         "article-left main-slider"
                         "article-left main-article"
                         "article-right main-pictures"
                         "article-right main-bottom-article"
                         "footer footer";
  }

  html {
    font-size: 14px;
  }

  .nav .nav-singUp,
  .nav .nav-logIn,
  .nav .nav-link {
    width: 7rem;
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  .main-container-open {
    transform: rotate(15deg);
  }

  .main-pictures {
    flex-direction: column;
  }
}

/*Responsive for mobile*/
@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas: "head"
      "main-head"
      "main-slider"
      "article-left"
      "article-right"
      "main-article"
      "main-pictures"
      "main-bottom-article"
      "footer";
  }

  html {
    font-size: 10px;
  }

  p {
    font-size: 1.5rem;
  }

  .nav .nav-singUp,
  .nav .nav-logIn,
  .nav .nav-link {
    width: 7rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-right: 3px solid #404040;
  }

  .main-container-open {
    transform: rotate(18deg);
  }

  .main-container .main-head .main-head__title {
    font-size: 4.5rem;
  }

  .main-container .main-head .main-head__second-title {
    font-size: 2rem;
  }

  .main-container .article-left .title-snowboarding-and-skiing,
  .main-container .article-right .title-snowboarding-and-skiing,
  .main-container .main-article .main-article_title,
  .main-container .main-bottom-article .main-bottom-article__title {
    font-size: 2rem;
  }

  .main-pictures {
    flex-direction: column;
  }

  .main-down-article {
    background: #f0f8ff;
    padding: 0 3rem 5rem;
  }
}

/*# sourceMappingURL=style.scss.map */